@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.App {
  min-height: 100vh;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

.Front {
  min-height: 100vh;
  background: rgb(251, 251, 251);
  background: linear-gradient(
    270deg,
    rgba(251, 251, 251, 0) 0%,
    rgba(53, 66, 88, 0.8883928571428571) 30%,
    rgba(0, 17, 45, 1) 100%
  );
}
